/* Estilos para o base.html */
html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    padding-bottom: 80px; /* Espaço reservado para o footer */
}

footer{
    position: absolute;
    bottom: -50px; /* Posiciona o footer na parte inferior */
    width: 100%;
    height: 115px; /* Altura do footer */
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

#mosaicam-logo{
    width: 70px;
    height: 50px;
}

#sair-form{ display: inline; }

#sair-botao{
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
}

/* Estilos para o login.html */
#div-login{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 110px;
}

#login-form{
    width: 300px;
    margin-top: 30px;   
}

/* Estilos para o signup.html */
#h2-signup{
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

#signup-form{ margin-top: 30px; }

/* Estilos para o detalhe_projeto.html */
#h5-detalhe_projeto{ margin-top: 15px; }

#img-detalhe_projeto{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

#imagem-detalhe_projeto{
    margin-top:10px;
    width: 500px;
}

/* Estilos para o perfil.html */
#h2-perfil{
    margin-top: 10px;
    margin-bottom: 10px;
}

#github-img_style, #linkedin-img_style{
    width: 35px;
    height: 35px;
}

#linkedin-style{ text-decoration: none; }

#h3-perfil{ margin-bottom: 20px; }

/* Estilo para o projetos_form.html */
#salvar-projetos_form{ margin-bottom: 10px; }

/* Estilos para o projetos.html */
#img-projetos{
    width: 40px;
    height: 40px;
}

#username-detalhe_projeto, #github-style, #username-projetos{
    text-decoration: none;
    color: inherit;
}

/* Estilos para o sobre.html */
#h2-sobre{
    text-align: center;
    margin-top: 30px;
}

#p-sobre{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

/* Container com 3 colunas para apresentação dos desenvolvedores */
#div-desenvolvedores-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 40px 20px;
    gap: 30px;
}

/* Card individual */
.desenvolvedor-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 280px;
}

.img-desenvolvedor{
    width: 200px;
    height: 200px;
}

/* Nome do desenvolvedor */
.desenvolvedor-card h3{
    margin: 10px 0 25px 0;
    font-size: 1.3em;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.icon-social{
    width: 35px;
    height: 35px;
}

/* Para os links de GitHub e, principalmente, LinkedIn */
.desenvolvedor-card a{
    text-decoration: none;
    color: #0077B5;
}

.desenvolvedor-card a h4{
    margin: 0;
    font-weight: bold;
}
