<!-- HTML contendo informações sobre a equipe de desenvolvimento -->

<!-- sobre.html recebe as mesmas propriedades da base.html -->
{% extends 'portfolio/base.html' %}
{% load static %}

<!-- Título da sobre.html -->
{% block title %}Sobre a equipe{% endblock %}

<!-- Começo do conteúdo principal da sobre.html -->
{% block content %}
<!-- Título e parágrafo introdutório sobre a equipe -->
<h2 id="h2-sobre">Sobre a equipe</h2>
<p id="p-sobre">Esse projeto foi desenvolvido pela equipe Mosaicam.</p>

<!-- Container principal com as 3 colunas -->
<div id="div-desenvolvedores-container">

    <!-- 1° coluna: Wânia -->
    <div class="desenvolvedor-card">
        <img src="{% static 'img/Wania.jpg' %}" 
             class="rounded-circle me-2 img-desenvolvedor"
             alt="Desenvolvedora Wânia Oliveira">
        <h3>Wânia Oliveira</h3>
        <div class="links-container">
            <img src="{% static 'img/GitHub.png'%}" alt="GitHub" class="icon-social">
            <a href="https://github.com/WaniaOliveira" id="github-style" target="_blank"><h4><strong>GitHub</strong></h4></a>
        </div>
        <div class="links-container">
            <img src="{% static 'img/LinkedIn.png'%}" alt="LinkedIn" class="icon-social">
            <a href="https://www.linkedin.com/in/wania-oliveira-63b2a323a/" target="_blank"><h4><strong>LinkedIn</strong></h4></a>
        </div>
    </div>

    <!-- 2° coluna: Sabrina -->
    <div class="desenvolvedor-card">
        <img src="{% static 'img/Sabrina.jpg' %}" 
             class="rounded-circle me-2 img-desenvolvedor"
             alt="Integrante Sabrina Cristina">
        <h3>Sabrina Cristina</h3>
        <div class="links-container">
            <img src="{% static 'img/GitHub.png'%}" alt="GitHub" class="icon-social">
            <a href="https://github.com/Sabrinacristinadev" id="github-style" target="_blank"><h4><strong>GitHub</strong></h4></a>
        </div>
        <div class="links-container">
            <img src="{% static 'img/LinkedIn.png'%}" alt="LinkedIn" class="icon-social">
            <a href="https://www.linkedin.com/in/sabrina-ilha-8b5168172/" target="_blank"><h4><strong>LinkedIn</strong></h4></a>
        </div>
    </div>

    <!-- 3° coluna: Marcelo -->
    <div class="desenvolvedor-card">
        <img src="{% static 'img/Marcelo.jpg' %}" 
             class="rounded-circle me-2 img-desenvolvedor"
             alt="Integrante Marcelo de Souza">
        <h3>Marcelo de Souza</h3>
        <div class="links-container">
            <img src="{% static 'img/GitHub.png'%}" alt="GitHub" id="github-img_style" class="icon-social">
            <a href="https://github.com/Marcelo-TMs" id="github-style" target="_blank"><h4><strong>GitHub</strong></h4></a>
        </div>
        <div class="links-container">
            <img src="{% static 'img/LinkedIn.png'%}" alt="LinkedIn" class="icon-social">
            <a href="https://www.linkedin.com/in/marcelo-de-souza-b4110b326/" id="linkedin-style" target="_blank"><h4><strong>LinkedIn</strong></h4></a>
        </div>
    </div>
</div>

<!-- Fim do conteúdo principal da sobre.html -->
{% endblock %}
